*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}
body{
    background-color: rgb(236, 236, 236);
}
header{
    width: 100%;
    height: 12vh;
    width: 75%;
    margin: auto;
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;

}
.navbar .navlinks{
    display: flex;
    gap: 40px;
    margin-top: 11px;
}
.navlinks a{
    color: black;
    transition: 0.42s all ease;
    border-bottom: 2px solid transparent;

}
.logo{
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 30px;
    cursor: pointer;
}
.hero{
    height: calc(100vh - 12vh);

    display: flex;
    align-items: center;
}
.cards{
    width: 100%;
    height: calc(100vh - 12vh);
    display: flex;
}
.cards .card{
    width: 14rem;
    margin: auto;
    height: 75vh;
    display: flex;
    gap: 40px;
    background-position: center;
    background-size: cover;
    transition: 0.40s all ease;
}
.cards .card:nth-child(3){
  margin-bottom: 4rem;
  background-image: url(images/Living\ Room.jpg);
}
.cards .card:nth-child(1){
    margin-top: 4rem;
    background-image: url(images/Dining\ Room.jpg);
}
.cards .card:nth-child(2){
    background-image: url(images/Blue\ Couch.jpg);
}
.main{
    margin-left: 70px;
    flex-basis: 46%;
}
.main h1{
    font-size: 2.7rem;
    line-height: 1.3;
    font-weight: 600;
}
.main p{
    font-size: 15px;
    line-height: 1.3;
    margin-top: 27px;
    margin-bottom: 20px;
}
.main button{
    padding: 1rem 2rem;
    color: white;
    background-color: rgba(19, 19, 37);
    font-size: 1rem;
    border: none;
    transition: 0.40s all ease;
}
img{
    width: 200px;
    position: absolute;
    top: 0%;
    left: 60px;
}
.main button:hover{
    background-color: #924d37;
    cursor: pointer;
    scale: 1.04;
}
.navlinks a:hover{
    color: #924d37;
    border-bottom: 2px solid #924d37;
}
.cards .card:hover{
    box-shadow: 0 0 20px 0 black;
    scale: 1.04;
}
.container2{
    height: 100vh;
    width: 100%;
}
.image2{
    width: 700px;
    height: 75vh;

}

.hero2{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 73px;
    margin-right: 50px;
    width: 100%;
}
.main2{
    flex-basis: 35%;
}
.main2 h1{
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.main2 p{
    font-size: 15px;
    line-height: 1.3;
}
.main2 button{
    padding: 0.8rem 2rem;
    color: white;
    background-color: rgba(19, 19, 37);
    font-size: 1.2rem;
    border: none;
    transition: 0.40s all ease;
    display: inline-block;
    margin-top: 20px;
}
span{
    font-weight: 600;
}
.main2 h3{
    font-weight: 500;
}
.main2 button:hover{
    background-color: #924d37;
    cursor: pointer;
    
    scale: 1.04;
}
.image2 .pic{
    width: 100%;
    height: 100%;
    background: url(images/pexels-vecislavas-popa-1571460.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.45s all ease;
}
.image2 .pic:hover{
    scale: 1.2;
}